<div id="<%= dom_id board %>">
  <p>
    <strong>Title:</strong>
    <%= board.title %>
    
  </p>
  <div class="card">
      <%= image_tag board.board_image_url, class: "card-img-top", width: "300", height:"200" %>
      <div class="card-body">

</div>
